.bg-dark {
  background-color: rgb(56, 56, 56);
}

.text-white {
  color: white;
}

.custom-img {
  border-radius: 20px;
  padding-top: 15px;
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% - 30px);
}
